.translate-left-enter-active, .translate-left-leave-active,.translate-right-enter-active,.translate-right-leave-active{
  transition: all 0.5s;
}
.translate-left-enter, .translate-left-leave-active {
  /* opacity: 0; */
}
.translate-left-enter {
  transform: translateX(100%);
}
.translate-left-leave {
    transform: translateX(-100%);
}
.translate-left-leave-active {
  transform: translateX(-100%);
}
.translate-right-enter {
  transform: translateX(-100%);
}
.translate-right-leave-active {
  transform: translateX(100%);
}
/* 顶部答题模式 */
.top-tabbar {
    height: 1rem;
    border-bottom: 1px solid rgba(204, 204, 204, 0.4);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.top-tabbar span {
    font-size: 0.32rem;
    line-height:1rem;
    height: 1rem;
}
.top-tabbar span.active {
    color: #10aeff;
    border-bottom: 2px solid #10aeff;
    /* border-color:#10aeff; */
    box-sizing: border-box;
}
/* 试题 */
.question_content{
    margin-bottom: 0.2rem;
}
.item{
    /* padding: 12px 15px; */
    display: flex;
    padding: 12px 0;
}
.item>div>span:nth-of-type(3){
    display: none;
}
.item input{
    display: none;
}
.question_type{
    margin-bottom: 0.2rem;
}
.item_state{
    width: 0.6rem;
    height: 0.6rem;
    line-height: 0.6rem;
    border: 1px solid #d4d4d4;
    text-align: center;
    border-radius: 50%;
    background: #fff;
    /* box-sizing: border-box; */
}
.item::before{
    content: "";
    display: block;;
    clear: both;

}
.item_con{
    padding-left: 0.2rem;
    max-width: 6.2rem;
}
.item_right .item_state{
    background: url(../../static/images/lx_item_state_right.png) no-repeat!important;
    background-size: contain!important;
    font-size: 0;
    border:0;
}
.item_right .item_con{
    color: #18bc80
}
.item_wrong .item_state{
    background: url(../../static/images/lx_item_state_wrong.png) no-repeat!important;
    background-size: contain!important;
    font-size: 0;
    border: none;
}
.footbtns .pre {
    background-image: url(../../static/images/lx_bottom_btn_pre.png)
}
.footbtns .next {
    background-image: url(../../static/images/lx_bottom_btn_next.png)
}
.footbtns .collect {
    background-image: url(../../static/images/lx_bottom_btn_collect.png)
}
.footbtns .explain {
    background-image: url(../../static/images/lx_bottom_btn_explain.png)
}

.footbtns .collecton {
    color: #54b244;
    background-image: url(../../static/images/lx_bottom_btn_collect_on.png);
}
.footbtns .explainon {
    color: #54b244;
    background-image: url(../../static/images/lx_bottom_btn_explain_on.png)
}
.best_explain{
    margin-top: 0.3rem;
    background-color: #fff;
}
.best_explaintitle {
    /* background: url(../../static/images/lx_best_explain.jpg) no-repeat; */
    background-size: 1.32rem;
    height: 0.75rem;
    line-height: 0.6rem;
    border-bottom: 1px solid #18b4ed;
}
.best_explaintitle>span {
    background: #18b4ed;
    color: #fff;
    padding: 5px 15px;
    height: 0.75rem;
    box-sizing: border-box;
    float: left;
}
.best_explaincon {
    color: #18bc80;
    font-size:0.36rem;
    line-height: 0.5rem;
    padding: 5px 0 0 15px;
}
.item_checked .item_state {
    background-color: #18b4ed;
    color: #fff;
    border-color: #18b4ed;
}
.item_checked .item_con {
    color:  #18b4ed
}
.wrap img{
    display: block;
}
/* 题目进度 */
.progress {
    float: right;
    background: #18b4ed;
    padding: 0 5px;
    color: #fff;
    border-radius: 0.1rem;
}
.answer_wapp {
    padding-top: 15px;
    align-items: center;
    line-height: 0.4rem;
    font-size: 0.36rem;
}
.empty-block {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.empty-block>div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.36rem;
}
